<% @title = "職員トップページ" %>
<h1><%= @title %></h1>

<!--ERBテンプレートにおける文字列のエスケープ処理 -->

<!--ERBテンプレートに文字列を埋め込む際、それに含まれるHTML特殊文字-->
<!-- < -->
<!-- > -->
<!-- & -->
<!-- " -->

<!--これらはエスケープ処理されます。-->
<!--すなわち次のような変換が行われます-->

<!-- < => &lt;-->
<!-- > => &gt;-->
<!-- & => &amp;-->
<!-- " => &quot;-->

<!--これは利用者が入力したHTML特殊文字を含む文字列をページに表示しても、ページが乱れたり、不正な-->
<!--Javascriptコードが実行されたりしないようにするための予防措置です。-->

<!--HTML特殊文字を含む文字列をそのまま使いたい場合はどうすればいいのか？-->

<!--主役を演じるのはActiveSupport::SafeBufferというクラスです。-->
<!--このクラスはStringクラスを継承していますが、その振る舞いはStringクラスとほとんど同じです。-->
<!--しかし、このクラスのインスタンスはERBテンプレートに埋め込まれる際にエスケープ処理されないという性質を持っています-->

<!--つまりエスケープ処理しないで文字列をERBテンプレートに埋め込むには、文字列を-->
<!--ActiveSupport::SafeBufferオブジェクトに変換すればいいのです。-->

<!--いま変数@fragmentに「<p>Hello World</p>」という文字列がsetされているとします-->

<!--これをActiveSupport::SafeBufferオブジェクトに変換する方法は2つあります-->

<!--1. String#html_safeを使用する-->
<!--2. ヘルパーメソッドrawを使用する-->

<%#= @fragment.html_safe %>
<%#= raw(@fragment) %>
